.sidebar {
float: left;
height: 100%;
background-color: black;
}
.header {
    width: 100%;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 35px;
    
    padding: 50px;
    margin: 20px;
    text-align: center;
  }
  .headersub {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 20px;

  }
  .dashbox {
    font-family: "Lucida Console", Courier, monospace;
    width: 100%;
    font-size: 20px;
   justify-content: center;
   float: left;
  }
  
  .infobox {
    float: left;
    width: 20%;
    text-align: center;
  }
  .infobox2 {
    width: 20%;
    float: left;
    
    text-align: center;
  }
  .infobox3 {
    width: 20%;
    float: left;
   
    text-align: center;
  }
  .status {
    width: 20%;
    float: left;
   
    text-align: center;
  }
 